<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo">Novo fabricante</ui:define>

    <ui:define name="corpo">
    	<f:metadata>
			<o:viewParam name="fabricante" value="#{cadastroFabricanteBean.fabricante}" />
		</f:metadata>

    	<h1>Novo fabricante</h1>

    	<h:form id="frmCadastro">
    		<p:messages id="messages" autoUpdate="true" closable="true" />

	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Salvar" id="botaoSalvar" action="#{cadastroFabricanteBean.salvar}" update="frmCadastro"/>
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
					<p:button value="Pesquisa" outcome="/pages/fabricante/PesquisaFabricantes.xhtml"/>
				</p:toolbarGroup>
	    	</p:toolbar>

	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		<p:outputLabel value="Código" for="codigo"/>
	    		<p:inputText id="codigo" size="20" maxlength="20" value="#{cadastroFabricanteBean.fabricante.codigo}" readonly="true"/>

	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="60" maxlength="80" value="#{cadastroFabricanteBean.fabricante.nome}"/>
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>