<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">Novo motorista</ui:define>

	<ui:define name="corpo">
		<f:metadata>
			<o:viewParam name="motorista"
				value="#{cadastroMotoristaBean.motorista}" />
		</f:metadata>

		<h1>Novo motorista</h1>

		<h:form id="frmCadastro">
			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroMotoristaBean.salvar}" update="frmCadastro" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa"
						outcome="/pages/motorista/PesquisaMotoristas" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:panelGrid columns="2" id="painel"
				style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo">
				<p:outputLabel value="Código" for="codigo" />
				<p:inputText id="codigo" size="20" maxlength="20"
					value="#{cadastroMotoristaBean.motorista.codigo}" readonly="true" />

				<p:outputLabel value="Nome" for="nome" />
				<p:inputText id="nome" size="60" maxlength="80"
					value="#{cadastroMotoristaBean.motorista.nome}" />

				<p:outputLabel value="Data de nascimento" for="dataNascimento" />
				<p:calendar id="dataNascimento" size="20"
					value="#{cadastroMotoristaBean.motorista.dataNascimento}"
					pattern="dd/MM/yyyy" />

				<p:outputLabel value="CPF" for="cpf" />
				<p:inputText id="cpf" size="20" maxlength="20"
					value="#{cadastroMotoristaBean.motorista.cpf}" />

				<p:outputLabel value="Sexo"/>
				<p:selectOneMenu value="#{cadastroMotoristaBean.motorista.sexo}" >
					<f:selectItem itemLabel="Select One" itemValue="" />
					<f:selectItems value="#{cadastroMotoristaBean.sexos}" />
				</p:selectOneMenu>

				<p:outputLabel value="CNH" for="cnh" />
				<p:inputText id="cnh" size="20" maxlength="20"
					value="#{cadastroMotoristaBean.motorista.numeroCnh}" />

			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>