<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Pesquisa de Motorista</ui:define>

    <ui:define name="corpo">
    	<h1>Pesquisa de Motorista</h1>

    	<h:form id="frmPesquisa">
    		<p:messages id="messages" autoUpdate="true" closable="true" />

    		<p:toolbar style="margin-top: 20px">
    			<p:toolbarGroup>
    				<p:commandButton value="Novo" id="botaoNovo" action="/pages/motorista/CadastroMotorista.xhtml"/>
    			</p:toolbarGroup>
    		</p:toolbar>

	    	<p:dataTable id="motoristasTable" value="#{pesquisaMotoristaBean.motoristas}" var="motorista"
		    		style="margin-top: 20px" emptyMessage="Nenhum motorista encontrado." rows="20"
		    		paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
		    		<p:column headerText="Código" style="text-align: center; width: 100px">
		    			<h:outputText value="#{motorista.codigo}" />
		    		</p:column>
		    		<p:column headerText="Nome">
		    			<h:outputText value="#{motorista.nome}" />
		    		</p:column>
		    		<p:column headerText="Data de nascimento">
		    			<h:outputText value="#{motorista.dataNascimento}" />
		    		</p:column>
		    		<p:column headerText="CPF">
		    			<h:outputText value="#{motorista.cpf}" />
		    		</p:column>
		    		<p:column headerText="Sexo">
		    			<h:outputText value="#{motorista.sexo}" />
		    		</p:column>
		    		<p:column headerText="CNH">
		    			<h:outputText value="#{motorista.numeroCnh}" />
		    		</p:column>
		    		<p:column style="width: 100px; text-align: center">
		    			<p:button outcome="CadastroMotorista" icon="ui-icon-pencil" title="Editar">
		    				<f:param name="motorista" value="#{motorista.codigo}"/>
		    			</p:button>
		    			<p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="confirmacaoExclusao.show()"
								process="@this" update=":frmPesquisa:confirmacaoExclusaoDialog">
							<f:setPropertyActionListener target="#{pesquisaMotoristaBean.motoristaSelecionado}" value="#{motorista}" />
						</p:commandButton>
		    		</p:column>
		    </p:dataTable>

		    <p:confirmDialog id="confirmacaoExclusaoDialog" widgetVar="confirmacaoExclusao"
	        		message="Tem certeza que deseja excluir o motorista #{pesquisaMotoristaBean.motoristaSelecionado.nome}?"
	                header="Exclusão de motorista" severity="alert">
	        	<p:button value="Não" onclick="confirmacaoExclusao.hide(); return false;" />
	        	<p:commandButton value="Sim" update=":frmPesquisa:motoristasTable"
	        			onclick="confirmacaoExclusao.hide()" action="#{pesquisaMotoristaBean.excluir}" />
	    	</p:confirmDialog>
	    </h:form>
    </ui:define>
</ui:composition>